body{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  position: relative;
  width: 100%;
  color: #fff;
  background-size: cover;
  height: 448px;
  color: white;
  display: flex;
  align-items: flex-end;
  transition: background-image 0.5s ease-in-out;
}


.banner-fade {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.3) 40%,
      rgba(0, 0, 0, 0.7) 100%);
  display: flex;
  align-items: flex-end;
}


.banner-content {
  padding: 60px 40px;
  max-width: 600px;
  z-index: 2;
}

.banner-title {
  font-size: 2.8rem;
  font-weight: 800;
  margin: 0 0 12px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.banner-desc {
  font-size: 1rem;
  line-height: 1.5;
  color: #d1d1d1;
  margin-bottom: 18px;
  max-width: 80%;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}


.banner-buttons {
  display: flex;
  gap: 12px;
}

.btn {
  background-color: rgba(51, 51, 51, 0.5);
  color: #fff;
  border: none;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn.play {
  background-color: #e50914;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.btn.play:hover {
  background-color: #f40612;
}


.banner::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10vh;
  background: linear-gradient(180deg,
      transparent,
      rgba(4, 7, 20, 0.9),
      #040714);
}


@media (max-width: 768px) {
  .banner {
    height: 50vh;
  }

  .banner-content {
    padding: 40px 20px;
  }

  .banner-title {
    font-size: 1.8rem;
  }

  .banner-desc {
    font-size: 0.9rem;
    max-width: 100%;
  }

  .btn {
    padding: 8px 14px;
    font-size: 0.85rem;
  }
}