body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
  color: #fff;
}

.faq-section {
  max-width: 750px;
  margin: 80px auto;
  padding: 20px;
  text-align: center;
}

.faq-section h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.faq {
  background-color: #303030;
  margin-bottom: 10px;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.3s ease;
  cursor: pointer;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 1.2rem;
}

.icon {
  font-size: 2rem;
  transition: transform 0.3s ease;
}

.answer {
  max-height: 0;
  overflow: hidden;
  background-color: #303030;
  transition: max-height 0.4s ease;
}

.answer p {
  padding: 0 20px 20px;
  text-align: left;
  line-height: 1.5;
  color: #ddd;
}

.faq.active .answer {
  max-height: 500px;
}

.faq.active .icon {
  transform: rotate(45deg);
}
